body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; box-sizing: border-box;}

#content-container { display: block; position: relative; width: 1280px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#Home {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#_bg__frame_1_ek2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(255,255,255,1);
}


#blackish_1 {
	top: 0px;
	position: absolute;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:url(skins/blackish_1.png);
	background-size:cover;
}


#rainboweffect4_1 {
	top: 176px;
	position: absolute;
	left: 505px;
	width: 270px;
	height: 362px;
	background:url(skins/rainboweffect4_1.png);
	background-size:cover;
}

#text {
	top: 45px;
	left: 135px;
	width: 1174px;
	height: 595px;
}

#i_m_vickie__a_software_developer {
	top: 315px;
	left: 710px;
	width: 493px;
	height: 314px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}



#hello_there {
	top: 214px;
	left: 0px;
	width: 558px;
	height: 143px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 64px;
	text-align: left;
	color:#FFFFFF;
}


#home {
	top: 0px;
	left: 765px;
	width: 72px;
	height: 37px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}



#contact {
	top: 0px;
	left: 1017px;
	width: 105px;
	height: 37px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}


#about {
	top: 0px;
	left: 887px;
	width: 80px;
	height: 37px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}

#Projects {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#_bg__frame_2_ek2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(255,255,255,1);
}



#blackish_1_ek1 {
	top: 0px;
	position: absolute;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:url(skins/blackish_1_ek1.png);
	background-size:cover;
}


#rectangle_4 {
	position: absolute;
	width: 1183px;
	height: 613px;
	left: 48px;
	top: 10px;
	
	background: linear-gradient(180deg, #414141 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 100px;
}

#text_ek1 {
	top: 14px;
	left: 104px;
	width: 755px;
	height: 599px;
}

#police_minds_matter_is_a_forum_created_for_the_benefit_of_the_various_lines_of_service_in_the_national_police_service_in_kenya__it_is_a_forum_engineered_into_catering_for_the_sensitization_of_our_forces_with_regards_to_their_mental_health_ {
	top: 148px;
	left: 3px;
	width: 546px;
	height: 97px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}



#photostreet_is_a_community_for_photographers_all_over_whethers_beginners_to_down_right_pros_looking_for_a_medium_to_share_many_of_their_works_or_looking_for_places_to_start__photostreet_is_created_to_serve_as_a_portal_through_the_lens_of_photographers_worldwide_to_observe_a_whole_new_world_of_artistic_greatness_ {
	top: 515px;
	left: 0px;
	width: 769px;
	height: 97px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}


#streetfood_website_is_a_site_created_to_the_satisfaction_of_both_heart_and_stomach_of_streetfood_customers__it_is_engineered_to_act_as_shopping_medium_for_foodies_all_over_the_streets_where_streetfood_has_setup_vendors_ {
	top: 332px;
	left: 0px;
	width: 641px;
	height: 97px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}



#police_minds_matter {
	top: 86px;
	left: 0px;
	width: 397px;
	height: 67px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}


#photostreet {
	top: 453px;
	left: 0px;
	width: 251px;
	height: 67px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}



#streetfood {
	top: 270px;
	left: 0px;
	width: 234px;
	height: 67px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}


#projects {
	top: 0px;
	left: 427px;
	width: 245px;
	height: 90px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}

#About {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#_bg__frame_3_ek2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(255,255,255,1);
}


#blackish_1_ek2 {
	top: 0px;
	position: absolute;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:url(skins/blackish_1_ek2.png);
	background-size:cover;
}

#rectangle {
	top: 84px;
	left: 26px;
	width: 1122px;
	height: 452px;
}

#rectangle_1 {
	position: absolute;
	width: 673px;
	height: 452px;
	left: 450px;
	top: 25px;
	
	background: linear-gradient(180deg, #414141 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 100px;
}



#rectangle_2 {
	top: 255px;
	left: 40px;
	width: 215px;
	height: 133px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
}



#rectangle_3 {
	top: 30px;
	left: 40px;
	width: 215px;
	height: 145px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(-90deg , rgba(64.81,64.81,64.81,1) 0%, rgba(0,0,0,0) 100%);
	
}

#text_ek2 {
	top: -5px;
	left: 29px;
	width: 1051px;
	height: 441px;
}

#paragraph {
	top: 143px;
	left: 514px;
	width: 554px;
	height: 189px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
    overflow: visible;
}



#skills {
	top: 42px;
	left: 7px;
	width: 91px;
	height: 45px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}


#hobbies {
	top: 263px;
	left: 7px;
	width: 113px;
	height: 45px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}



#about_me {
	top: 0px;
	left: 497px;
	width: 258px;
	height: 90px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}


#ui_ux_designer_fullstack_developer_graphic_designer {
	top: 131px;
	left: 0px;
	width: 232px;
	height: 114px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}



#writing_caricature_painting {
	top: 345px;
	left: 24px;
	width: 205px;
	height: 113px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}

#Contacts {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#_bg__frame_4_ek2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(255,255,255,1);
}


#blackish_1_ek3 {
	top: 0px;
	position: absolute;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:url(skins/blackish_1_ek3.png);
	background-size:cover;
}



#rectangle_4_ek1 {
	position: absolute;
	width: 673px;
	height: 452px;
	left: 304px;
	top: 91px;
	
	background: linear-gradient(180deg, #414141 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 100px;
}


#contact_ek1 {
	top: 110px;
	left: 540px;
	width: 229px;
	height: 90px;
	overflow: hidden;
	font-family: Redressed;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}
h5{
    position: absolute;
    text-shadow: black;
    text-rendering: auto;
    bottom: 100%;
    opacity: 70%;
    stroke: lightslategrey;
    stroke-width: 10mm;
    top: 50%;
    left: 50%;
    color: ivory;
    font-size: 15px;
    opacity: initial;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
  }
  #Menu li{
	list-style: none;
	display: inline-block;
	margin: 25px;
	position: relative;
}
#Menu li a{
	color: ivory;
	font-size: 20px;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
header{
	position: fixed;
}
a{
	text-decoration: none;
	color: aliceblue;
}
form{
    color: #ffff;
    padding-left: 130%;
    padding-top: 80%;
    font-family: Redressed;
}
h1{
    color: #FFFFFF;
    align-items: center;
    font-family: Redressed;
    padding-left: 440%;
    padding-top: 200%;
}
#pp{
    color: #FFFFFF;
    padding-left: 480%;
    padding-top: 120%;
    font-family: Redressed;
}